articles/*.*
.Rhistory

dd_report.docx

dd_report.html

dem_dem.pdf
.Rproj.user

estimation/pars_chain_1.Rds

estimation/pars_chain_2.Rds

estimation/pars_chain_3.Rds

estimation/pars_chain_4.Rds

estimation/pars_chain_5.Rds

estimation/pars_chain_7.Rds

estimation/pars_chain_8.Rds

estimation/pars_chain_9.Rds
estimation/models/


estimation/pars_chain.Rds

estimation/pars_chain2.Rds

estimation/pars_chain3.Rds

estimation/pars_chain3.Rds

estimation/pars_chain.Rds

estimation/pars_chain2.Rds
